.container{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0px 15px 0px 35px;
}
body{
    background-color: rgba(149, 247, 214, 0.281);
}

h1{
    color: cadetblue;
    font-size: 48px;
    text-align: center;
    
}
p{
    color: rgb(67, 115, 204);
    font-family:Poppins;
    font-size: 40px;
    margin: 0px;
    text-align: center;
}
